FLEX_APP_TWILIO_SERVERLESS_DOMAIN=https://xxx.twil.io
FLEX_APP_WORKSPACE_SID=WSxxx
FLEX_APP_WORKFLOW_SID=WWxxx
FLEX_APP_QUEUE_SID=WQxxx
FLEX_APP_INBOUND_STUDIO_FLOW=FWxxx
FLEX_APP_TWILIO_FROM_NUMBER=+1xxxx
FLEX_APP_TWILIO_WHATSAPP_FROM_NUMBER=+1xx

# WhatsApp template display control
# 1 = show all business-initiated templates (default)
# 0 = show only the SIDs listed in FLEX_APP_TWILIO_WHATSAPP_TEMPLATES
FLEX_APP_DISPLAY_ALL_TEMPLATE=1
FLEX_APP_TWILIO_WHATSAPP_TEMPLATES=[HXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx, HXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx]
